<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="DataLearnEntities" />
        <add connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataLearn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="DataLearnEntities" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
